asn1crypto==0.24.0
beautifulsoup4==4.6.0
bleach==2.1.1
bsetools==0.2
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
cryptography==2.3
cymem==1.31.2
cytoolz==0.8.2
decorator==4.1.2
dill==0.2.7.1
entrypoints==0.2.3
Flask==1.0.2
ftfy==4.4.3
future==0.16.0
Google-Search-API==1.1.14
headers-workaround==0.18
html5lib==1.0b10
httplib2==0.11.3
idna==2.6
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.1
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
MarkupSafe==1.0
mistune==0.7.4
msgpack-numpy==0.4.1
msgpack-python==0.4.8
multidict==4.1.0
murmurhash==0.28.0
nbconvert==5.3.1
nbformat==4.4.0
ngrok==0.0.1
nltk==3.2.5
notebook==5.2.0
nsetools==1.0.5
numpy==1.13.3
oauthlib==2.0.6
pandas==0.21.0
pandocfilters==1.4.2
parso==0.1.0
pathlib==1.0.1
pickleshare==0.7.4
pkginfo==1.4.1
plac==0.9.6
preshed==1.0.0
prompt-toolkit==1.0.15
pycparser==2.18
Pygments==2.2.0
pymessenger==0.0.7.0
PyMySQL==0.9.2
pyreadline==2.1
python-dateutil==2.6.1
python-instagram==1.3.2
pytz==2017.3
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.1
regex==2017.4.5
requests==2.18.4
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
scikit-learn==0.19.1
scipy==1.0.0
selenium==2.53.6
simplegeneric==0.8.1
simplejson==3.15.0
six==1.11.0
sklearn==0.0
spacy==2.0.5
SQLAlchemy==1.2.10
tabulate==0.8.2
termcolor==1.1.0
testpath==0.3.1
thinc==6.10.2
toolz==0.9.0
tornado==4.5.2
tqdm==4.19.5
traitlets==4.3.2
tweepy==3.5.0
twine==1.9.1
twython==3.6.0
ujson==1.35
Unidecode==1.0.22
urllib3==1.22
vcrpy==1.11.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.0.3
wrapt==1.10.11
yarl==1.1.1
